# --- Python cache/build ---
__pycache__/
*.py[cod]
*$py.class
.build/
*.egg-info/
.eggs/

# --- Virtualenv / tools ---
.venv/
.envrc
.python-version
.env

# --- Tests / reports ---
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/
.pytype/

# --- Database files ---
*.sqlite3
*.db

# --- Docker artefacts ---
docker-data/
celerybeat-schedule
uvicorn.log
localstack_data

# --- SSL certificates ---
server.test.pem
machine.json
server.test.pem.key
